@{
    ViewData["Title"] = "Home Page";
}


 @* carrusel slides *@

 <body>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/imghotel/02.jpg" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/imghotel/03.jpg" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="/img/imghotel/01.jpg" class="d-block w-100 " alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@* end carrusel slide *@
 <div class="row ">

        <div class="col-md-12 p-1 rounded-1">
        

        <div class="card-outline">
            <div class="card-header  text-center">

               <h3>Resenia</h3>
               
            </div>
            


            
                <div class="card-body">


                    <div class="card-text">
                        <p class="bg-light mt-2">
                            El <strong>Hotel la fortuna</strong>, es la mejor opción en Pérez Zeledón para llevar a cabo reuniones privadas, almuerzos, cócteles, cenas, presentación de productos, charlas, sesiones de Empresas y cualquier tipo de evento social como bodas, té de canastilla, quince años, etc.
                            Contamos con 6 diferentes salas y salones, los cuales se encuentran equipados con aire acondicionado, Wi-Fi gratuito y podemos cotizar equipo audiovisual según sus necesidades.
                            Además contamos con nuestro Restaurante La Troja y nuestra Cantina<span></span> El Palenque que podemos utilizarlos si fuese necesario.
                            Ofrecemos paquetes de alimentos y bebidas para atender hasta 250 personas.</span>
                            Nuestro departamento de ventas está a sus órdenes para cotizar cualquier tipo de evento.
                            Tel: (506) 2771 - 3033 ó (506) 2771 - 3280
                        </p>
                    </div>

                </div>
             </div>
           
        </div>
 </div>

</body>
<style>
    .carousel-item img {
        max-height: 400px; /* Adjust the height as needed */
        object-fit: cover; /* Ensures the image scales proportionally */
    }
    body{
        background-image: linear-gradient(105deg, #505467 0, #1f3259 50%, #00154b 100%);
    }
</style>