@{
    ViewData["Title"] = "Home Page";
}
 
 <div class="row  justify-content-center mt-2 p-2">
     <div class="col-sm-12">


        <div class="card-outline">
            <div class="card-header bg-success justify-content-center">

                <img class="" />
               
            </div>
             <div class="card ">


                <div class="card-header bg-info justify-content-center"><h1>Hotel la fortuna</h1></div>
                <div class="card-body">


                    <div class="card-text">
                        <p class="bg-light mt-2">
                            El <strong>Hotel la fortuna</strong>, es la mejor opción en Pérez Zeledón para llevar a cabo reuniones privadas, almuerzos, cócteles, cenas, presentación de productos, charlas, sesiones de Empresas y cualquier tipo de evento social como bodas, té de canastilla, quince años, etc.
                            Contamos con 6 diferentes salas y salones, los cuales se encuentran equipados con aire acondicionado, Wi-Fi gratuito y podemos cotizar equipo audiovisual según sus necesidades.
                            Además contamos con nuestro Restaurante La Troja y nuestra Cantina<span></span> El Palenque que podemos utilizarlos si fuese necesario.
                            Ofrecemos paquetes de alimentos y bebidas para atender hasta 250 personas.</span>
                            Nuestro departamento de ventas está a sus órdenes para cotizar cualquier tipo de evento.
                            Tel: (506) 2771 - 3033 ó (506) 2771 - 3280
                        </p>
                    </div>

                </div>
             </div>
           
        </div>

     </div>
 </div>

 <style>


    .row{
    
    
     z-index:1000 
    
    
    }

 </style>